{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <hr>
  <h4><u>Crypto Portfolio </u></h4>
  <p>The Current BTC Price Determines the Strategy<b>%</b> This % is calculated from our Algorithms and is used to Advise you on the % amount in USD ('Sell' or 'Buy') <u>that you Should Adjust your Orders</u>  <i>Register and Try</i></p>

  <hr>
  <h4><u>Setup By Getting Binance and Coin-Gheko API Keys </u></h4>
  <p>You will Add these in your Settings Section:</p>
  <ul>
    <li>Your API keys are secret and Encripted thus cannot be mishandled</li>
    <li>Trust Us with Your Data</li>
    <li>Trial Period Runs for 1 month</li>
    <li>Check Packages Section for Subscriptions</li>
    <li>Build your Portfolio wisely</li>
    <li>Get Best Advise from  Crypto profiles(<a href="#"><a>Trade Wisely</a>)</li>
  </ul>

  <hr>
  <h4><u>Reach us for Comments</u></h4>
  <p>Let Our Algorithms Work for You</p>

{% endblock %}